<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" href="./css/art.css">
<style>
form {
width:30%;
margin:0 auto;
}
</style>
</head>
<body>
    <header>
        <h1>Blog后台管理界面</h1>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="#" method="post">
                <p>
                <input placeholder="用户名" name="name" type="text" value="" size="30">
                </p>
                <p>
                <input placeholder="密码" name="password" type="password" value="" size="30">
                </p>
                <input type="submit" value="登陆">
            </p>
            </form>
        </div>
    </div>
    <footer>
        Copyright &copy; 2017 · GeneratePresas · WordPress
    </footer>
</body>
</html>